name: MindSpore Gitee repos mirror periodic job

on:
  pull_request:
    paths:
    - '.github/workflows/**'
    # Runs at every pull requests submitted in master branch 
    branches: [ master ]
#  schedule:
#    # Runs at 01:00 UTC (9:00 AM Beijing) every day
#    - cron:  '0 1 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Mirror the gitee/mindspore org repos to github/mindspore-ai.
      uses: Yikun/hub-mirror-action@v0.07
      with:
        src: gitee/mindspore
        dst: github/mindspore-ai
        dst_key: ${{ secrets.SYNC_MINDSPORE_PRIVATE_KEY }}
        dst_token:  ${{ secrets.SYNC_MINDSPORE_TOKEN }}
        account_type: org
        static_list: 'ms-operator,mindspore,mindinsight,mindarmour,graphengine,docs,book,community'
