name: MindSpore Gitcode repos mirror periodic job

on:
  pull_request:
    paths:
    - '.github/workflows/**'
    # Runs at every pull requests submitted in master branch 
    branches: [ master ]
  schedule:
    # Runs every 2 hours
    - cron:  '0 */2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Mirror the mindspore.
      uses: Yikun/hub-mirror-action@master
      with:
        src: gitcode/mindspore
        dst: github/mindspore-ai
        dst_key: ${{ secrets.SYNC_SSH_PRIVATE_KEY }}
        dst_token:  ${{ secrets.SYNC_TOKEN_GITHUB }}
        account_type: org
        clone_style: ssh
        force_update: true
        static_list: "hyper-parallel"
        debug: true
        lfs: true
