name: MindSpore Gitee repos mirror periodic job

on:
  pull_request:
    paths:
    - '.github/workflows/**'
    # Runs at every pull requests submitted in master branch 
    branches: [ master, main ]
  schedule:
    # Runs at 0,2,4,6...,22th hour every day (every 2 hours)
    - cron:  '0 */2 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Mirror the gitee/mindspore org repos to github/mindspore-ai.
      uses: Yikun/hub-mirror-action@v1.0
      with:
        src: gitee/mindspore
        dst: github/mindspore-ai
        dst_key: ${{ secrets.SYNC_MINDSPORE_PRIVATE_KEY }}
        dst_token:  ${{ secrets.SYNC_MINDSPORE_TOKEN }}
        account_type: org
        clone_style: ssh 
        static_list: 'mindspore,mindinsight,mindarmour,graphengine,docs,book,community,ms-operator,akg,course,hub,serving,mindquantum,xai,models,mindscience,contrib,reinforcement'
        force_update: true
        black_list: 'infrastructure'
        debug: true
