name: MindSpore Gitee repos mirror periodic job

on:
  schedule:
    # Runs at 01:00 UTC (9:00 AM Beijing) every day
    - cron:  '0 1 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Mirror the gitee/mindspore org repos to github/mindspore-ai.
      uses: Yikun/hub-mirror-action@v0.04
      with:
        src: gitee/mindspore
        dst: github/mindspore-ai
        dst_key: ${{ secrets.SYNC_MINDSPORE_PRIVATE_KEY }}
        dst_token:  ${{ secrets.SYNC_MINDSPORE_TOKEN }}
        account_type: org
